<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoloQuincho</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <nav class="navbar">
    <a href="/index" class="navbar__link">SoloQuincho</a>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/index" class="navbar__link">Inicio</a>
      </li>
      <li class="navbar__item">
        <a href="/registro" class="navbar__link">Registro</a>
      </li>
      <li class="navbar__item">
        <a href="/login" class="navbar__link">Iniciar Sesión</a>
      </li>
      <li class="navbar__item">
        <a href="#" class="navbar__link">Productos</a>
      </li>
      <li class="navbar__item">
        <a href="/contacto" class="navbar__link">Contacto</a>
      </li>
    </ul>
  </nav>
  <div href="/index" class="navbar__link">
    <img src="/images/parrillas-logo.png" alt="logo" />
  </div>

  <main>
    <article class="Cantidad-Precio">
      <h1>Artículo</h1>
      <h1>Cantidad</h1>
      <h1>Precio</h1>
    </article>
    <article>
      <div class="article-desc">
        <img src="/images/Parrilla Malevo.png" alt="Parrilla Malevo">
        <p>Una parrilla tradicional para desarrollar sus capacidades culinarias.
          Desarrollada de manera modular para un facil desarme y transporte.
          Pensada para ser tu compañera de aventuras.
        </p>
      </div>
      <div class="cantidades">
        <button>-</button>
        <p>1</p>
        <button>+</button>
      </div>
      <div class="precio">
        <p>$68.700,00</p>
      </div>
    </article>
    <article>
      <div class="article-desc">
        <img src="/images/Parrilla Delta.png" alt="Parrilla Delta">
        <p>Una parrilla tradicional para desarrollar sus capacidades culinarias.
          Posee una parrilla de hierros redondos enlozados y a continuación un brasero para encender
          con facilidad el carbón o la leña, sobre este se puede colocar una plancha o wok donde cocinar
          vegetales, filetes, provoletas, etc.
        </p>
      </div>
      <div class="cantidades">
        <button>-</button>
        <p>1</p>
        <button>+</button>
      </div>
      <div class="precio">
        <p>$52.800,00</p>
      </div>
    </article>
    <article>
      <div class="article-desc">
        <img src="/images/Parrilla Camper.png" alt="Parrilla Camper">
        <p>Una parrilla para llevar con vos de campamento en todo momento con un sistema de
          sujecion al piso por estacas que te permiten regular la altura de la parrilla de
          acuerdo a las llamas.
        </p>
      </div>
      <div class="cantidades">
        <button>-</button>
        <p>1</p>
        <button>+</button>
      </div>
      <div class="precio">
        <p>$48.300,00</p>
      </div>
    </article>
    <article>
      <h1>Total $169.800,00</h1>
    </article>
    <article>
      <button class="main-article-button_b">comprar</button>
    </article>
  </main>

  <footer>
    <div class="footer">
      <ul class="footer_sq1">
        <h3>Copyright 2023 - www.soloquincho.com.ar - Todos los derechos reservados</h3>
      </ul>
      <ul class="footer_sq1">
        <h3>Síguenos en las redes</h3>
      </ul>
      <div class="footer_sq1">
        <img src="/images/Twitter.png" alt="Twitter" />
        <img src="/images/Facebook.png" alt="Facebook" />
        <img src="/images/Instagram.png" alt="Instagram" />
      </div>
    </div>
  </footer>

</body>